<app-navbar></app-navbar>


<div class="bootstrap-wrapper background-image">
    
    <div class="container">
        <div class="row mt80 ">
            
            <div class="col-md-6 offset-md-3 text-center">
              <h1 style="font-size: 3em;">Welcome Aspirants</h1>
                
            </div>
        
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                 <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Assam Direct Recruitment Examination</h2>
                        
                      </mat-card-content>
                 </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Assam Public Service Commission Examination</h2>
                        
                      </mat-card-content>
                 </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Railway Examination </h2>
                        
                      </mat-card-content>
                 </mat-card>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-md-4">
                <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Union Public Service Commission Examination</h2>
                        
                      </mat-card-content>
                 </mat-card> 
            </div>
            <div class="col-md-4">
                <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Banking Examination</h2>
                        
                      </mat-card-content>
                 </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="large-card">
                    <mat-card-content class="text-center">
                        
                          <h2>Staff Selection Commission Examination </h2>
                        
                      </mat-card-content>
                 </mat-card>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
